[Unit]
Description=%p - %i
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=DOCKERIMAGE=ulexus/jsonip
Environment=PORT=9008
ExecStartPre=-/usr/bin/docker pull ${DOCKERIMAGE}
ExecStartPre=-/usr/bin/docker pull ibuildthecloud/systemd-docker
ExecStartPre=-/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/opt/bin/systemd-docker --env run --rm --name %p -p ${PORT}:${PORT} ${DOCKERIMAGE}
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[X-Fleet]
Conflicts=jsonip*
